body {
    background-image: url('yarn.jpeg');
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: yellow;
    
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 5px black solid;
    padding-top: 10px;
    padding-bottom: 10px;
    color: yellow;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#increment-btn {
    background-color: darkred;
}

#save-el {
    font-weight: bold;
    color: yellow;
}

#save-btn {
    background-color: darkgreen;
}

